<div class="hero-unit">	
	<h1>quick</h1><span>pins!</span>
	<p>
		You've found
		<%= link_to 'QuickPins!', 'http://onemonthrails.com' %>
		Click the button below to sign up and start pinning!
	</p>
	<p>
		<%= link_to 'Sign Up Now!', '#', class: 'btn btn-primary btn-large' %>
	</p>
</div>


