/************************ Fonts ***************************/
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Acme);
$baseFontFamily: Oxygen;
@font-face {
    font-family: 'londrina_sketchregular';
    src: url('londrinasketch-regular-webfont.eot');
    src: url('londrinasketch-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('londrinasketch-regular-webfont.woff') format('woff'),
         url('londrinasketch-regular-webfont.ttf') format('truetype'),
         url('londrinasketch-regular-webfont.svg#londrina_sketchregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Oxygen);

/************************ CSS Variables ***************************/
$btnPrimaryBackground: #0F851C;
$navbarBackgroundHighlight: #EEDFB7;
$navbarBackground: #EEDFB7;
$navbarLinkColor: #A75521;
$navbarLinkColorHover: #A75521;
$lightteal: #5CCCCC;
$linkteal: #006363;
$navbarHeight: 50px;

/************************ Import Bootstrap ********************************/
@import 'bootstrap';
@import 'bootstrap-responsive';

/************************ General & Misc Styles ***************************/

body {
	padding-top: 80px;
	background-color: #E8B36D;	
}
.plus-brown {
	margin-top: -5px;
}
.small {
	font-size: .75em;
}
.no_display {
	display: none;
}
.avatar {
	border: 5px solid white;
	border-radius: 5px;
	width: 120px;
	float: left;
	margin-bottom: 30px;
}

/************************Custom Icons for Bootstrap ***********************/
.icon-black-star {
    background-image: url(black_star.png);
    background-position: center center;
    height: 14px;
    width: 14px;
}
.icon-gold-star {
    background-image: url(gold_star.png);
    background-position: center center;
    height: 14px;
    width: 14px;
}

/************************ Back-to-top Style ********************************/
#back_to_top {
	position: fixed;
	right: 0;
	top: 150px;
	display: block;
}

/************************ Buttons *****************************************/
.btn-header {
  background-color: hsl(22, 78%, 34%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e77d40", endColorstr="#9a4413");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e77d40), to(#9a4413));
  background-image: -moz-linear-gradient(top, #e77d40, #9a4413);
  background-image: -ms-linear-gradient(top, #e77d40, #9a4413);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e77d40), color-stop(100%, #9a4413));
  background-image: -webkit-linear-gradient(top, #e77d40, #9a4413);
  background-image: -o-linear-gradient(top, #e77d40, #9a4413);
  background-image: linear-gradient(#e77d40, #9a4413);
  border-color: #9a4413 #9a4413 hsl(22, 78%, 28%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;
}
.logoutLink {
	display: block !important;
	padding: 5px 20px;
}
.logoutButton {
	padding: 0 !important;
}

/************************ Bootstrap Overrides ***************************/
.navbar-inner {
	
	border: 0;
	a {
		font-size: 1em;
		color: white;
	}
	a:hover {		
		text-decoration: none;
	}
}
.well {
	margin-top: 20px;
	background-color: #EEDFB7;
}
.brand {
	font-family: 'Acme', serif;
	font-size: 2.5em !important;
	text-transform: none !important;
}
.modal-body {
	max-height: 475px;
}


/************************ Typography ***************************/

h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 3em;
	color: #A75521;
}

/* Forms */
.form-actions {
	background-color: #E8B36D;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/************************ Hero Unit ***************************/
.hero-unit {
	background-color: #A75521;
	background-image: url(/assets/square_overlay.png);
	min-height: 100px !important;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 6px solid #EEDFB6;
	border-bottom: 6px solid #EEDFB6;
	box-shadow: 
        0px 11px 11px -11px #444,
        0px -10px 11px -11px #444;

	
	h1 { 
		font-family: 'Acme', sans-serif;
		font-weight: 400;
		font-size: 4em;
		color: #EEDFB7;		
		display: inline;
		text-shadow: -1px -1px 0 hsl(27, 0%, 17%),
             -2px -2px 1px hsl(27, 0%, 17%);
	}
	span {
		font-family: 'Acme', sans-serif;
		font-size: 5em;
		text-transform: uppercase;
		color: #EEDFB7;
		text-shadow: -1px -1px 0 hsl(3, 0%, 29%),
             -2px -2px 1px hsl(3, 0%, 29%);
	}
	p {
		color: white;
		margin-top: 0;
		a {
			font-family: $baseFontFamily;
			color: #ECDEB7;
		}
	}
}

/*********************** Welcome **************************/
.welcome {
	background-color: #A75521;
	background-image: url(/assets/square_overlay.png);
	min-height: 100px !important;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 6px solid #EEDFB6;
	border-bottom: 6px solid #EEDFB6;
	box-shadow: 
        0px 11px 11px -11px #444,
        0px -10px 11px -11px #444;
  margin-bottom: 20px;

	
	h1 { 
		font-family: 'Acme', sans-serif;
		font-weight: 400;
		font-size: 4em;
		color: #EEDFB7;		
		display: inline;
		text-shadow: -1px -1px 0 hsl(27, 0%, 17%),
             -2px -2px 1px hsl(27, 0%, 17%);
	}
	span {
		font-family: 'Acme', sans-serif;
		font-size: 5em;
		text-transform: uppercase;
		color: #EEDFB7;
		text-shadow: -1px -1px 0 hsl(3, 0%, 29%),
             -2px -2px 1px hsl(3, 0%, 29%);
	}
	p {
		color: white;
		margin-top: 0;
		a {
			font-family: $baseFontFamily;
			color: #ECDEB7;
		}
	}
}



/************************ Login ***************************/
#loginModal {
	position: fixed;
	height: 320px;
	width: 400px;
	left: 55%;
}

/************************ Pagination ***************************/
.pagination {	
	margin: 20px auto;
	padding-top: 10px;
	background-color: #B8B8B8;
	width: 250px;
	height: 30px;
	border-radius: 4px;
	text-align: center;
	color: #202020;
	font-weight: bold;
	font-size: .85em
}

/************************ Header Styles ***************************/
.icon-pin {
	background-image: url('glyphicons2.png');
	background-position: -230px -944px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 28px;
	height: 30px;
}

/************************ Footer Styles ***************************/
.footer {
	margin-top: 50px;
	background-color: #A75521;
	min-height: 100px;
	color: white;
	padding-top: 10px;
	a {
		color: #EEDFB7;
	}
}

/************************ Image Display & User Profile**************/
#pins {
	clear: both;
}

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
	background-color: white;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	font-style: italic;
	margin-bottom: 20px;
}
.caption {
	span {
		font-size: 0.85em;
		font-style: italic;
	}
}
.pin_img {
	border: 5px solid white;
	border-radius: 5px;
}
.pin_header {
	text-align: center;
	font-style: italic;
	font-weight: bold;
	border-bottom: 1px solid #d5a362;
	padding-bottom: 10px;
}
.comment_header {
	margin-top: 20px;	
	font-weight: bold;
	font-size: 0.85em;	
}
.comments {
	border-bottom: 1px solid #d5a362;
	background-color: #d5c59b;
	padding: 10px;
	p {
		font-size: 0.85em;
	}
	span {
		font-style: italic;
		font-size: 0.80em;
		padding-left: 15px;
		color: #555;
	}
}
.user-info {
	float: left;
	padding-left: 20px;
}

/********************** Media Queries **************************/
@media screen and (max-width: 979px) {
	body {
		padding-top: 0;
	}
}

@media screen and (max-width: 490px) {
	.hero-unit {
		h1 {
			font-size: 2.5em;
		}
		span {
			font-size: 3.75em;
		}
	}
	#back_to_top img {
		display: none;
	}
	#loginModal {
		width: 300px;
		left: 20px;
	}
}
@media screen and (max-width: 655px) {
	.logo-img { display: none; }	
}




