/************************ Fonts ***************************/
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
$baseFontFamily: Oxygen;
@font-face {
    font-family: 'londrina_sketchregular';
    src: url('londrinasketch-regular-webfont.eot');
    src: url('londrinasketch-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('londrinasketch-regular-webfont.woff') format('woff'),
         url('londrinasketch-regular-webfont.ttf') format('truetype'),
         url('londrinasketch-regular-webfont.svg#londrina_sketchregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import url(http://fonts.googleapis.com/css?family=Oxygen);

/************************ CSS Variables ***************************/
$btnPrimaryBackground: #0F851C;
$navbarBackgroundHighlight: #EEDFB7;
$navbarBackground: #EEDFB7;
$navbarLinkColor: #A75521;
$navbarLinkColorHover: #A75521;
$lightteal: #5CCCCC;
$linkteal: #006363;
$navbarHeight: 50px;

/************************ Import Bootstrap ***************************/
@import 'bootstrap';
@import 'bootstrap-responsive';

/************************ General Styles ***************************/

body {
	padding-top: 80px;
	background-color: #E8B36D;	
}
.plus-brown {
	margin-top: -5px;
}
.small {
	font-size: .75em;
}

/************************ Bootstrap Overrides ***************************/
.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
	a {
		font-size: 1.25em;
		text-transform: uppercase;
	}
}
.well {
	margin-top: 20px;
	background-color: #EEDFB7;
}
.brand {
	font-family: 'londrina_sketchregular', serif;
	font-size: 40px !important;
	text-transform: none !important;
}
.modal-body {
	max-height: 475px;
}


/************************ Typography ***************************/

h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 3em;
	color: white;
}

/* Forms */
.form-actions {
	background-color: #E8B36D;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/************************ Hero Unit ***************************/
.hero-unit {
	background-color: #A75521;
	background-image: url(/assets/grid_overlay.png);
	min-height: 100px !important;
	padding-top: 35px;
	padding-bottom: 20px;
	box-shadow: 4px 4px 8px #444;
	h1 { 
		font-family: 'londrina_sketchregular', serif;
		font-weight: 400;
		font-size: 4em;
		color: #EEDFB7;		
		display: inline;
	}
	span {
		font-family: 'londrina_sketchregular', serif;
		font-size: 6em;
		text-transform: uppercase;
		color: #EEDFB7;
	}
	p {
		color: white;
		margin-top: 1.25em;
		a {
			font-family: $baseFontFamily;
			color: #ECDEB7;
		}
	}
}

/************************ Pagination ***************************/
.pagination {	
	margin: 20px auto;
	padding-top: 10px;
	background-color: #B8B8B8;
	width: 250px;
	height: 30px;
	border-radius: 4px;
	text-align: center;
	color: #202020;
	font-weight: bold;
	font-size: .85em
}

/************************ Footer Styles ***************************/
.footer {
	margin-top: 50px;
	background-color: #A75521;
	min-height: 100px;
	color: white;
	padding-top: 10px;
	a {
		color: #EEDFB7;
	}
}

/************************ JQuery Masonry ***************************/

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
	background-color: white;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	text-align: center;
	font-style: italic;
	margin-bottom: 20px;
}

/* Media Queries */
@media screen and (max-width: 979px) {
	body {
		padding-top: 0;
	}
}

@media screen and (max-width: 490px) {
	.hero-unit {
		h1 {
			font-size: 2.5em;
		}
		span {
			font-size: 3.75em;
		}
	}
}
@media screen and (max-width: 655px) {
	.logo-img { display: none; }	
}




