/* Import fonts */
$baseFontFamily: Oxygen;

@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url(http://fonts.googleapis.com/css?family=Londrina+Sketch);

/* CSS Variables */
$btnPrimaryBackground: green;
$navbarBackgroundHighLight: white;
$navbarBackground: white;
$lightteal: #5CCCCC;
$linkteal: #006363;

/* Import bootstrap files */
@import 'bootstrap';
@import 'bootstrap-responsive';

/* General Styles */

body {
	padding-top: 60px;
}

a {
	color: #ECDEB7;
}

/* Bootstrap overrides */
.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

/* Header Styles */



/* Hero Unit Styles */
.hero-unit {
	background-color: #5D9B4A;
	background-image: url(/assets/grid_overlay.png);
	height: 150px !important;
	h1 { 
		font-family: 'Londrina Sketch', serif;
		font-weight: 400;
		font-size: 4em;
		color: white;		
		display: inline;
	}
	span {
		font-family: 'Londrina Sketch', serif;
		font-size: 6em;
		text-transform: uppercase;
		color: #ECDEB7;
	}
	p {
		color: white;
		margin-top: 1.25em;
		a {
			font-family: $baseFontFamily;
		}
	}	
}
/* Footer Styles */
.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}