<div id="div" class="footer">
	<small>
		<%= link_to 'QuickPins!', '#' %>
		by CStone
	</small>
	<div><small>Design Instruction provided by <%= link_to 'Mattan Griffel', 'http://onemonthrails.com' %></small></div>
</div>